<%= form_for @message , url: account_message_path(current_user.account_id, @message), remote: true do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <li class='new' id='message_content'>
    <%= f.label "Выберете собеседника" %>
    <%= f.collection_select :recipient_id, User.where("account_id = #{current_user.account_id} and id != #{current_user.id}"), :id, :email, {include_blank: false} %> <br/>
    <%= f.label "Ваше сообщение" %>
    <%= f.text_area :message %> <br/>
    <%= f.submit 'Отправить' %>
  </li>

<% end %>
