<% cache message do %>
<li class='new' id='message_<%= message.id %>'>
  <span class='field'>
    <% @sender = User.find_by(id: message.sender_id) %>
    <%= link_to @sender.email, account_user_path(current_user.account_id, message.sender_id) %>
    <%= message.title %>
    <%= auto_link(message.message) %>
    <%= message.created_at %>
  </span>
</li>

<li id='new_messages'></li>
</ul>

<% end %>