<%= form_for @task , url: account_task_path(current_user.account_id, @task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Название" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "Тип" %><br>
    <%= f.text_field :type_of_task %>
  </div>
  <div class="field">
    <%= f.label "Описание" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label "Дата начала" %><br>
    <%= f.datetime_select :starts_at %>
  </div>
  <div class="field">
    <%= f.label "Дата окончания" %><br>
    <%= f.datetime_select :ends_at %>
  </div>
  <div class="field">
    <%= f.label "Весь день" %><br>
    <%= f.check_box :all_day %>
  </div>
  <div class="field">
    <%= f.label "Ответственный" %><br>
    <%= f.collection_select :responsible, current_user.account.users, :id, :email, {include_blank: false} %>
  </div>
  <div class="field">
    <%= f.label "Контакт" %><br>
    <%= f.collection_select :contact_id, current_user.account.contacts, :id, :email, {include_blank: false} %>
  </div>
  <div class="field">
    <%= f.label "Компания" %><br>
    <%= f.collection_select :company_id, current_user.account.companies, :id, :email, {include_blank: false} %>
  </div>
  <div class="field">
    <%= f.label "Сделка" %><br>
    <%= f.collection_select :deal_id, current_user.account.deals, :id, :name, {include_blank: false} %>
  </div>
  <div class="actions">
    <%= f.submit "Сохранить" %>
  </div>
<% end %>
