<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @task.type_of_task %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @task.starts_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @task.ends_date %>
</p>

<p>
  <strong>Allday:</strong>
  <%= @task.all_day %>
</p>

<p>
  <strong>Responsible:</strong>
  <%= @task.responsible %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @task.contact_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @task.company_id %>
</p>

<p>
  <strong>Deal:</strong>
  <%= @task.deal_id %>
</p>

<%= link_to 'Edit', edit_account_task_path(@task.account_id, @task) %> |
<%= link_to 'Back', account_tasks_path %>
