<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @task.type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @task.date %>
</p>

<p>
  <strong>Responsible:</strong>
  <%= @task.responsible %>
</p>

<p>
  <strong>Account:</strong>
  <%= @task.account_id %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @task.contact_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @task.company_id %>
</p>

<p>
  <strong>Deal:</strong>
  <%= @task.deal_id %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
