<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Тип:</strong>
  <%= @task.type_of_task %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Дата начала:</strong>
  <%= @task.starts_at %>
</p>

<p>
  <strong>Дата окончания:</strong>
  <%= @task.ends_at %>
</p>

<p>
  <strong>Весь день:</strong>
  <%= @task.all_day %>
</p>

<p>
  <strong>Ответственный:</strong>
  <%= @task.responsible %>
</p>

<p>
  <strong>Контакт:</strong>
  <%= @task.contact_id %>
</p>

<p>
  <strong>Компания:</strong>
  <%= @task.company_id %>
</p>

<p>
  <strong>Сделка:</strong>
  <%= @task.deal_id %>
</p>

<%= link_to 'Редактировать', edit_account_task_path(@task.account_id, @task) %> |
<%= link_to 'Назад', account_tasks_path %>
