<%= form_for @contact , url: account_contact_path(current_user.account_id, @contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "ФИО" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Телефон" %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label "E-mail" %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Skype" %>
    <%= f.text_field :skype %>
  </div>
  <div class="field">
    <%= f.label "Адрес" %>
    <%= f.text_field :post %>
  </div>
  <div class="field">
    <%= f.label "Ответственный" %>
    <%= f.collection_select :responsible, current_user.account.users, :id, :email, {include_blank: false} %>
  </div>
  <div class="field">
    <%= f.label "Компания" %>
    <%= f.collection_select :company_id, current_user.account.companies, :id, :email, {include_blank: false} %>
  </div>
  <div class="field">
    <%= f.label "Примечание" %>
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit "Сохранить контакт" %>
  </div>
<% end %>
