<h1>Контакты</h1>
<table>
  <thead>
    <tr>
      <th>Ф.И.О.</th>
      <th>Контактный телефон</th>
      <th>Контактный e-mail</th>
      <th>Skype</th>
      <th>Адрес</th>
      <th>Ответственный</th>
      <th>Компания</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr id='contact_<%= contact.id %>'>
        <td><%= contact.name %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.email %></td>
        <td><%= contact.skype %></td>
        <td><%= contact.post %></td>
        <% @owner = User.find_by(id: contact.responsible) %>
        <td><%= link_to @owner.email, account_user_path(contact.account_id, contact.responsible) %></td>
        <% @company = Company.find_by(id: contact.company_id) %>
        <td><%= link_to @company.name, account_company_path(contact.account_id, contact.company_id) %></td>
        <td><%= link_to 'Подробнее', account_contact_path(current_user.account_id, contact) %></td>
        <td><%= link_to 'Редактировать', edit_account_contact_path(current_user.account_id, contact) %></td>
        <td><%= link_to 'Удалить', account_contact_path(current_user.account_id, contact), method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить контакт', new_account_contact_path %>
