<h1>Listing contacts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Skype</th>
      <th>Post</th>
      <th>Responsible</th>
      <th>Company</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr id='contact_<%= contact.id %>'>
        <td><%= contact.name %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.email %></td>
        <td><%= contact.skype %></td>
        <td><%= contact.post %></td>
        <% @owner = User.find_by(id: contact.responsible) %>
        <td><%= link_to @owner.email, account_user_path(contact.account_id, contact.responsible) %></td>
        <% @company = Company.find_by(id: contact.company_id) %>
        <td><%= link_to @company.name, account_company_path(contact.account_id, contact.company_id) %></td>
        <td><%= contact.notes %></td>
        <td><%= link_to 'Show', account_contact_path(current_user.account_id, contact) %></td>
        <td><%= link_to 'Edit', edit_account_contact_path(current_user.account_id, contact) %></td>
        <td><%= link_to 'Destroy', account_contact_path(current_user.account_id, contact), method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_account_contact_path %>
