<p id="notice"><%= notice %></p>

<p>
  <strong>Ф.И.О:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Телефон:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Skype:</strong>
  <%= @contact.skype %>
</p>

<p>
  <strong>Адрес:</strong>
  <%= @contact.post %>
</p>

<p>
  <strong>Ответственный:</strong>
  <%= link_to @owner.email, account_user_path(@contact.account_id, @contact.responsible) %>
</p>

<p>
  <strong>Компания:</strong>
  <%= link_to @company.name, account_contact_path(@contact.account_id, @contact.company_id) %>
</p>

<p>
  <strong>Примечание:</strong>
  <%= @contact.notes %>
</p>

<%= link_to 'Редактировать', edit_account_contact_path(current_user.account_id, @contact) %> |
<%= link_to 'Назад', account_contacts_path(current_user.account_id) %>
