<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Skype:</strong>
  <%= @contact.skype %>
</p>

<p>
  <strong>Post:</strong>
  <%= @contact.post %>
</p>

<p>
  <strong>Responsible:</strong>
  <%= link_to @owner.email, account_user_path(@contact.account_id, @contact.responsible) %>
</p>

<p>
  <strong>Company:</strong>
  <%= link_to @company.name, account_contact_path(@contact.account_id, @contact.company_id) %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @contact.notes %>
</p>

<%= link_to 'Edit', edit_account_contact_path(current_user.account_id, @contact) %> |
<%= link_to 'Back', account_contacts_path(current_user.account_id) %>
