<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Skype:</strong>
  <%= @contact.skype %>
</p>

<p>
  <strong>Post:</strong>
  <%= @contact.post %>
</p>

<p>
  <strong>Responsible:</strong>
  <%= @contact.responsible %>
</p>

<p>
  <strong>Account:</strong>
  <%= @contact.account_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @contact.company_id %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @contact.notes %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
