<h1>Просмотр компаний</h1>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Телефон</th>
      <th>Email</th>
      <th>Site</th>
      <th>Адрес</th>
      <th>Ответственный</th>
      <th>Контакт</th>
      <th>Примечание</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr id='company_<%= company.id %>'>
        <td><%= company.name %></td>
        <td><%= company.phone %></td>
        <td><%= company.email %></td>
        <td><%= company.site %></td>
        <td><%= company.adress %></td>
        <% @owner = User.find_by(id: company.responsible) %>
        <td><%= link_to @owner.email, account_user_path(company.account_id, company.responsible) %></td>
        <% @contact = Contact.find_by(id: company.contact_id) %>
        <td><%= link_to @contact.name, account_contact_path(company.account_id, company.contact_id) %></td>
        <td><%= company.notes %></td>
        <td><%= link_to 'Подробнее', account_company_path(current_user.account_id, company) %></td>
        <td><%= link_to 'Редактировать', edit_account_company_path(current_user.account_id, company) %></td>
        <td><%= link_to 'Удалить', account_company_path(current_user.account_id, company), method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить компанию', new_account_company_path %>
