<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Телефон:</strong>
  <%= @company.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>Site:</strong>
  <%= @company.site %>
</p>

<p>
  <strong>Адрес:</strong>
  <%= @company.adress %>
</p>

<p>
  <strong>Ответственный:</strong>
  <%= link_to @owner.email, account_user_path(@company.account_id, @company.responsible) %>
</p>

<p>
  <strong>Контакт:</strong>
  <%= link_to @contact.name, account_contact_path(@company.account_id, @company.contact_id) %>
</p>

<p>
  <strong>Примечание:</strong>
  <%= @company.notes %>
</p>

<%= link_to 'Редактировать', edit_account_company_path(current_user.account_id, @company) %> |
<%= link_to 'Назад', account_companies_path(current_user.account_id) %>
