<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @deal.name %>
</p>

<p>
  <strong>Статус:</strong>
  <%= @deal.status %>
</p>

<p>
  <strong>Бюджет:</strong>
  <%= @deal.budget %>
</p>

<p>
  <strong>Ответственный:</strong>
  <%= link_to @owner.email, account_user_path(@deal.account_id, @deal.responsible) %>
</p>

<p>
  <strong>Примечание:</strong>
  <%= @deal.notes %>
</p>

<p>
  <strong>Задача:</strong>
  <%= @deal.task %>
</p>

<%= link_to 'Редактировать', edit_account_deal_path(@deal.account_id, @deal) %> |
<%= link_to_function 'Назад', 'history.back()' %>
