<%= form_for @user, url: account_user_path(current_user.account_id, @user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
    <%= f.email_field :email, placeholder: 'Your Email' %> <br/>
    <%= f.text_field  :name, placeholder: 'Your Name' %> <br/>
    <%= f.text_field  :surname, placeholder: 'Your Name' %> <br/>
    <%= f.text_field  :mobile_phone, placeholder: 'Your Name' %> <br/>
    <%= f.text_field  :work_phone, placeholder: 'Your Name' %> <br/>
    <%= f.text_area   :notes, placeholder: 'Your Name' %> <br/>
    <% if action_name == 'new' %>
      <%= f.password_field  :password, placeholder: 'Your Email' %> <br/>
      <%= f.password_field  :password_confirmation, placeholder: 'Your Email' %> <br/>
    <% end %>
    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

