<!DOCTYPE html>
<html>
<head>
  <title>RealCrm</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div id="login">
    <% if session[:user_id] %>
      Вы вошли как: <%= link_to "#{User.find(session[:user_id]).email}", account_user_path(current_user.account_id, current_user)%>
      <%= link_to "Выйти", logout_url, method: :delete %><br/>
    <% else %>
      <%= link_to t('log_in'), login_path %>
    <% end %>
  </div>
  
  <% if current_user %>
  <div id="menu">
    <ul>
      <li>
        <%= link_to 'Мой профиль', account_user_path(current_user.account_id, current_user)%>
      </li>
      <li>
        <%= link_to 'Пользователи', account_user_index_path(current_user.account_id) %>
      </li>
      <li>
        <%= link_to 'Сделки', account_deals_path(current_user.account_id)%>
      </li>
      <li>
        <%= link_to 'Компании', account_companies_path(current_user.account_id) %>
      </li>
      <li>
        <%= link_to 'Контакты', account_contacts_path(current_user.account_id) %>
      </li>
      <li>
        <%= link_to 'Задачи', account_tasks_path(current_user.account_id) %>
      </li>
      <li>
        <%= link_to 'Последние действия', account_histories_path(current_user.account_id) %>
      </li>
      <li id='mydiv'>
        <%= link_to 'Сообщения', account_conversations_path(current_user.account_id) %>
      </li>
      <li>
        <%= link_to 'Календарь', account_calendar_path(current_user.account_id)%>
      </li>
    </ul>
    <div class='clear'></div>
  </div>
  <% else %>
    <%= redirect_to login_path %>
  <% end %>
  <div class='dock'>
    <%= image_tag ('clip.png') %>    
    <div class='paper'>
        <%= yield %>
    </div>
  </div>
<div id="footer">
  <div id="copyright">
    <%= image_tag ('logo_bottom.png') %>
  </div>
</div>
</body>
</html>
