<!DOCTYPE html>
<html>
<head>
  <title>RealCrm</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div id="login">
    <% if session[:user_id] %>
      You may <%= link_to t('sign_out'), logout_url, method: :delete %> here.<br/>
      <%= "Hello #{User.find(session[:user_id]).email}" %>
    <% else %>
      <%= link_to t('log_in'), login_path %>
    <% end %>
    <br/>
    <%= link_to 'english', url_for(locale: 'en') %> |
    <%= link_to 'русский', url_for(locale: 'ru') %>
  </div>
  
  <% if current_user %>
  <%= link_to 'My Profile', account_user_path(current_user.account_id, current_user)%>
  <%= link_to 'Users', account_user_index_path(current_user.account_id) %>
  <%= link_to 'Deals', account_deals_path(current_user.account_id)%>
  <%= link_to 'Companies', account_companies_path(current_user.account_id) %>
  <%= link_to 'Contacts', account_contacts_path(current_user.account_id) %>
  <%= link_to 'Tasks', account_tasks_path(current_user.account_id) %>
  <%= link_to 'Last actions', account_histories_path(current_user.account_id) %>
  <%= link_to 'Calendar', account_calendar_path(current_user.account_id)%>
  <% else %>
    <%= redirect_to login_path %>
  <% end %>
<%= yield %>

</body>
</html>
