<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @account.owner_id %>
</p>

<p>
  <strong>Deeals:</strong>
  <%= @account.deals %>
</p>

<p>
  <strong>Contacts:</strong>
  <%= @account.contacts %>
</p>

<%= link_to 'Back', accounts_path %>
